<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <!--name：绑定配置名称-->
      <!--closeTimeout【类型 System.TimeSpan】：获取或设置在传输引发异常之前可用于关闭连接的时间间隔，指定在超时前必须完成关闭操作的时间，默认值为 1 分钟。-->
      <!--openTimeout【类型 System.TimeSpan】：获取或设置在传输引发异常之前可用于打开连接的时间间隔，指定在超时前必须完成打开操作的时间，默认值为 1 分钟。-->
      <!--receiveTimeout【类型 System.TimeSpan】：获取或设置在传输引发异常之前可用于完成读取操作的时间间隔，指定在超时前必须完成读取操作的时间，默认值为 10 分钟。-->
      <!--sendTimeout【类型 System.TimeSpan】：获取或设置在传输引发异常之前可用于完成写入操作的时间间隔，指定在超时前必须完成写入操作的时间，默认值为 1 分钟。-->
      <!--【注意：如果对绑定或通道启用了事务流，执行操作所需的时间可能会比指定的超时时间长。在这些情况下，将会因为超时过期而导致操作失败，事务也将随之中止。】-->

      <!--maxBufferPoolSize：获取或设置为从通道接收消息的消息缓冲区管理器分配并供其使用的最大内存量，默认值为 524288 (0x80000) 字节。
				通过使用缓冲池，BufferManager 将缓冲区的使用成本降至最低。当消息离开通道时，服务需要使用缓冲区来处理这些消息。
				如果缓冲池中的内存不足，无法处理消息负载，则 BufferManager 必须从 CLR 堆分配更多内存，而这会增加垃圾回收的系统开销。
				从 CLR 垃圾堆进行大量分配表明缓冲池太小，可以通过提高 MaxBufferPoolSize 限制来实现更大的内存分配，从而提高性能。-->

      <!--maxReceivedMessageSize：获取或设置在采用此绑定配置的通道上可接收的最大消息大小，绑定可处理的最大消息大小（以字节为单位）。默认值为 65,536 字节。
				【对消息大小进行的此限制旨在降低遭受拒绝服务 (DoS) 攻击的可能性。】-->

      <!--maxConnections：最大连接数量-->

      <!--listenBacklog：待定-->
      <netTcpBinding>
        <binding name="netTcpServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"  maxReceivedMessageSize="1073741824">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
          <!--获取或设置可由使用此绑定配置的终结点处理的 SOAP 消息的复杂性约束【下面几个值都是 int 值】-->

          <!--maxArrayLength：获取并设置允许的最大数组长度，默认值为 16384。
					【请注意，此属性值应用于消息处理过程的每个步骤。包括可以扩展消息或消息部分大小的一些步骤。特别是，加密可能会大大增加消息的大小】-->

          <!--maxBytesPerRead：获取并设置允许每次读取返回的最大字节数，默认值为 4096。
					【此配额与该传输级别在网络上接收的字节数密切相关，但其目的是控制每次读取时可以接收的数据量】-->

          <!--maxDepth：获取并设置最大嵌套节点深度，最大嵌套节点深度，默认值为 32。此配额设置 XML 的嵌套节点深度限制。
					【不太重要，一般来说常用的 XML 深度不大可能达到32层】-->

          <!--maxNameTableCharCount：获取并设置表名称中允许的最大字符数，表名称中允许的最大字符数，默认值为 16384。【暂时貌似没怎么用】-->

          <!--maxStringContentLength：获取并设置读取器返回的最大字符串长度，读取器返回的最大字符串长度，默认值为 8192。
					【这个根据实际需要配置下，因为默认长度 8192 对于稍大的对象序列化后的长度很可能不够用】-->
          <readerQuotas maxStringContentLength ="1073741824" maxArrayLength ="1073741824" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--国际机票基础数据-->
      <endpoint address="net.tcp://localhost:6665/WCFService" binding="netTcpBinding"
               bindingConfiguration="netTcpServiceBinding"
               contract="Notify.Solution.Test.WCF.IService"
               name="endpointName">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>